#myInput {
        background-image: url('/css/searchicon.png'); 
        background-position: 10px 12px; 
        background-repeat: no-repeat; 
        width: 50%; 
        font-size: 16px; 
        padding: 12px 20px 12px 40px; 
        border: 1px solid #ddd; 
        margin-bottom: 12px;
    }

    /*#myUL{
        list-style-type: none;
        padding: 0;
        margin: 0; 
    }*/

        #myUL li a {    
            border: 1px solid #ddd;
            margin-top: -1px;
            background-color: #f6f6f6;
            padding: 1px;
            text-decoration: none;
            width: auto;
            font-size: 18px;
            font-family:Calibri;
            color: black;
            display: block;
                   
        }

            #myUL li a.header {
                background-color: #e2e2e2;
                cursor: default;
            }

            #myUL li a:hover:not(.header) {
                background-color: #eee;
            }


            #myApps {
                list-style-type: none;
                border:1px dotted black;
                height: auto;
                padding:5px;
            }

            #mySubs li {
                list-style-type: none;
                border:1px dotted black;
                height: auto;
                padding:5px;
                border: 1px solid #ddd;
            }

          .child_div_1 {
              width: 45%;
              height: auto;
              border: 1px solid black;
              margin-right: 10px;
              float: left;
              font-family:Calibri;
          }

             .child_div_2 {
              width: 45%;
              height: auto;
              border: 1px solid black;
              float: right;
              font-family:Calibri;

          }

             .online_apps_header {
              font-family:Calibri;
          }



             table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }