.App {
  text-align: center;
}

.header { grid-area: header; }
.online-apps { grid-area: online-apps; }
.my-apps { grid-area: my-apps; }
.alerts { grid-area: alerts; }

.app-container {
  display: grid;
  grid-template-areas:
    'header header header header header'
    'online-apps my-apps my-apps alerts alerts'
    'online-apps my-apps my-apps alerts alerts';
  grid-gap: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2px;
  min-height: 95vh;
  color: white;
}

.app-container > div {
  background-color: #282c34;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.application {
  border: solid white 1px;
  padding: 5px 5px 5px 5px;
  margin: 5px;
}

.application > span {
  padding: 5px;
}